.promo {
    background-image: url("images/img-promo-01.png");
}


#footer-ul{
    overflow: hidden;
    background-color: #333;
  }
  
  #footer-li {
    float: left;
    list-style: none;
  }
  
  #footer-li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  #footer-li a:hover:not(.active) {
    background-color: #111;
  }
  